html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {box-sizing: border-box}

.container {
    padding: 0px;
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: white;
    display: flex;
    flex-wrap: wrap;
  }

  input[type=text]:focus, input[type=password]:focus {
    background-color: white;
    outline: none;
  }

  .btnfulled {
    background-color: #4CAF50;
    font-size: medium;
    border-radius: 10px;
    color: white;
    padding: 10px 16px;
    text-align: center;
    
    border: none;
    cursor: pointer;
    width: auto;
    opacity: 0.9;
    margin: 0px 0px 10px 0px;   
  }

  .btnempty {
    background-color: inherit;
    font-size: medium;
    color: black;
    margin-top: 6px;
    text-align: center;
    border: none;
    cursor: pointer;
    width: auto;
    
    
  }
  
  .okno {
    background-color: white;
    width: 20%;
    height: 50%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: floralwhite;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
  }

  div{
    margin: 0px;
  }

  body{
    line-height: 1;
    overflow: hidden;
  }

.cent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.right{
  background-color: inherit;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.contright{
  margin: 10px;
  flex-direction: row-reverse;
  display: flex;
  justify-content: end;
  justify-items: end;
  vertical-align: middle;
  position: relative;
  margin-bottom: 30px; 
  align-items: center;
}

.contleft{
  margin: 10px;
  background-color: inherit;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  position: relative;
  margin-bottom: 30px;
  align-items: center;
}

.text-left{
  flex-direction: column;
  vertical-align: middle;
  margin: 0px 0px 0px 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
}

.text-right{
  flex-direction: column;
  text-align: right;
  vertical-align: middle;
  margin: 0px 100px 0px 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.chat-form{
  align-content: center;
  align-items: center;
  border-radius: 10px;
  border-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  margin: 20px 10px 0px  0px;
}


.head{
  background-color: #4CAF50;
  color: white;
  text-align: center;
  border: none;
  opacity: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%; 
  height: 80px;
}
  
.header{
  font-weight: bold;
  font-size: 24px;
  margin: 10px 10px 20px 10px;
}
 
.block{
  background-color: floralwhite;
  border-radius: 10px;
  margin: 20px 20px 20px 20px;
  padding: 10px 10px;
}

.block2{
  overflow: auto;
  height: 400px;
  background-color: floralwhite;
  border-radius: 10px;
  margin: 20px 20px 20px 20px;
  padding: 10px 10px;
}
  
.scroll{
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 600px;

}

.avatar{
  padding: 0px;
  position: relative;
  width: 60px;
  border-radius: 60px;
  vertical-align: middle;
}

.btnimg{
  margin: 10px 20px 10px 20px;  
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: inherit;
  border: none;
}

.send{
  width: 40px;
  height: 40px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px;
}

.btnsend{
  margin: 3px 10px 10px 10px;
  cursor: pointer;
  background-color: inherit;
  border: 0px;
  width: 40px;
  height: 40px;
}

.btnchat{
  margin: 5px;
  width: 400px;
  border: none;
  border-radius: 10px;
  background-color: floralwhite;
}

h3{
  font-weight: bold;
  margin: 2px 2px 2px 2px;
}

.user{
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

.otstup{
  margin-left: 10px;
}

.otstup-menu{
  margin-top: 20px;
}
.otstup-head{
  margin-top: 100px;
}

.otstup-chat{
  margin-left: 20px;
  margin-top: 20px;
  font-family: sans-serif;
}

h2{
  font-size: 20px;
}

p{
  margin: 0px 0px 10px;
  font-size: 18px;
}

.question{
  margin: 40px 0px;
}

.vertical-cent{
  align-content: center;
  align-items: center;
}

.hoverhighlite:hover{
  background-color: rgb(253, 246, 231);
}

.locked {
  background-color: rgb(199, 199, 199);
}

.size{
  width: 340px;
.sendline {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.smallfont{
  font-size: 10px;
}