<html>
    <title>FindMind</title>
    <style>
      @import url("style.css");
      H1 { 
       font-size: 120%; 
       font-family: Arial, Helvetica, sans-serif; 
       color: green; 
      }
    </style>
    <body>
        <div class="head">
            <div class="right">
                <button type="submit" class="btnfulled">Главная</button>
                <button type="submit" class="btnfulled">Выход</button>
                <img class="avatar" data-role="user-avatar" src="avatar.jpeg" alt="Аватар">        
            </div>
        </div>
        <div class="block">
            <h1 class="header">Тест</h1>
            <div class="otstup">
                <button type="submit" class="btnfulled">Пройти тест</button>
            </div>
        </div>

        <div class="block">
            <h1 class="header">Знакомства</h1>
            <div class="recomendation">
                <button class="user">
                    <img class="avatar" data-role="user-avatar" src="avatar.jpeg" alt="Аватар"> 
                    <div class="cent">
                        <h3>Лимфа Аржембек</h3>
                        <h4>19 лет</h4>
                    </div>
                </button>
                <button class="user">
                    <img class="avatar" data-role="user-avatar" src="avatar.jpeg" alt="Аватар"> 
                    <div class="cent">
                        <h3>Лимфа Аржембек</h3>
                        <h4>19 лет</h4>
                    </div>
                </button>
            </div>
        </div>
       

    </body>   
</html>