{% extends "mindfinder/top_bar.html" %}


{% block content %}
<div class="cent">
    <ul>
    {% for chat in chats %}
        <li>
                <form action="{% url 'chat_service:new' %}" method="post">
                {% csrf_token %}
                    <input type="hidden" name="chat_id" value="{{ chat.id }}">

                    <button class="btnchat hoverhighlite" type="submit">
                        <img class="avatar" src="{{ media_url|add:profile.avatar.name }}" alt="Avatar">
                        <div class="contleft">
                            <p class="otstup-chat">{{ chat.name }}</p>
                        </div>
                    </button>
                </form>

            </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}