
    {% for message in messages %}
{% if message.owner.id != user.id %}
        <div class="contleft">
        <img class="avatar" src="{{ message.owner.avatar.url }}" alt="Avatar">
            <div>
                <p>{{ message.message }}</p>
                <div>
                <span class="time-right smallfont">{{ message.datetime }}</span>
                </div>
            </div>
        </div>
        {% else %}
        <div class="contright">
        <img class="avatar" src="{{ message.owner.avatar.url }}" alt="Avatar">
            <div>
                <p>{{ message.message }}</p>
                <div class="contright">
                <span class="time-right smallfont">{{ message.datetime }}</span>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
