{% extends "mindfinder/top_bar.html" %}


{% block content %}
<div class="cent">
    <ul>
    {% for chatdata in chats %}
        <li>
            <a href="{% url 'chat_service:chat' chat_id=chatdata.chat.id %}">
                <div class="btnchat hoverhighlite"> 
                    <img class="avatar" src="{{ media_url|add:chatdata.avatar }}" alt="Avatar">
                    <div class="contleft">
                        <p class="otstup-chat">{{ chatdata.chat.name }}</p>
                    </div>
                </div>
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}