{% extends "mindfinder/top_bar.html" %}


{% block content %}
<div class="cent">
    <h1 class="header">Выберите подходящего собеседника</h1>
    <ul class="scroll">
    {% for profile in profiles %}
        <li>
            <form action="{% url 'chat_service:new' %}" method="post">
            {% csrf_token %}
                <input type="hidden" name="profile_id" value="{{ profile.id }}">

                <button class="btnchat hoverhighlite" type="submit">
                        <div class="contleft">
                            <img class="avatar" src="{{ media_url|add:profile.avatar.name }}" alt="Avatar">
                            <p class="otstup-chat">{{ profile.name }}</p>
                        </div>
                </button>
            </form>

        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}